#searchbar {
  text-align: left;
  width: 500px; /* makes the bar wider */
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 8px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
}

.menubar {
  background-color: black;
  padding: 30px;
}

.barleft {
  float: left;
}
.barright {
  float: right;
}

a {
  text-decoration: none; /*removes underline from link*/
  padding: 100px;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: lightskyblue;
}

/* selected link */
a:active {
  color: lightblue;
}
